.row.card.card-body.bg-light
  .row
    = form_tag member_path(@member), method: 'get', class: 'form-inline' do
      .form-group.mx-sm-3.mb-2
        = text_field_tag :query, @search, placeholder: 'Search', class: 'form-control mr-sm-2 mb-2 mb-sm-0'
        =hidden_field_tag :active_tag, 'tab-add-friends'

      =button_tag 'Search', class: 'btn btn-primary mt-2 mt-sm-0'
  %table.table
    %thead
      %tr
        %th Name
        %th
        %th
    %tbody
      - @members.each do |m|
        %tr
          %td= m.name
          %td
            = link_to 'Show', member_path(m), class: 'btn btn-primary'
          %td
            = link_to 'Add', member_friendships_path(@member, friend_id: m),method: :post, class: 'btn btn-primary'