%body
  .row
    .col-lg-12
      %ol.breadcrumb
        %li.breadcrumb-item= link_to "Home", root_url
        %li.breadcrumb-item.active=@member.name
  .row
    .col-12
      .row
        .col-12
          %h1=@member.name
      #user-profile.row
        .col-5
          .profile-details
            %ul.list-group
              %li.list-group-item
                %span Friend Count: #{@member.friends.size}
              %li.list-group-item
                %span= @member.website_url
              - if @member.shortened_website_url.present?
                %li.list-group-item
                  %span= @member.shortened_website_url

        .col-7
          .main-box.clearfix
            .tabs-wrapper.profile-tabs
              %ul.nav.nav-tabs
                %li.nav-link
                  = nav_tab('tab-overview', 'Tags', @active_tab)
                %li.nav-link
                  = nav_tab('tab-friends', 'My Friends', @active_tab)
                %li.nav-link
                  = nav_tab('tab-add-friends', 'Add Friends', @active_tab)
              .tab-content
                #tab-overview.tab-pane.fade.in.active
                  = render 'members/partials/tags'
                #tab-friends.tab-pane.clearfix.fade
                  = render'members/partials/friends'
                #tab-add-friends.tab-pane.clearfix.fade
                  = render'members/partials/add_friends'

:javascript
  $(document).ready(function(){
  let tabId = '#{@active_tab || "tab-overview"}'
    $('a[href="#'+ tabId +'"]').tab('show');
  });

  $(document).ready(function () {
    $('.nav li a').click(function(e) {
      $('.nav li.active').removeClass('active');
      let $parent = $(this).parent();
      $parent.addClass('active');
      e.preventDefault();
    });
  });

:css
  span {
    display:block;
    word-wrap:break-word;
  }


